<h2>TODO List</h2>

<button (click)="loadTodos()" > load TODO list </button>
<button (click)="addTodo()" > add item </button>

<ul class="todos">
    <li *ngFor="let t of todos$ | async"> 
        <span class="badge">
            {{t.id}}: {{t.name}}  &nbsp;&nbsp; - &nbsp;&nbsp;
            in sync: 
            <span [ngStyle]="{'color': t.isSync ? 'green' : 'red', 'font-weight': 'bold'}">
                {{ t.isSync}}
            </span> 
            </span> 
    </li>
</ul>

<hr/>
<h2>Last 2 items:</h2>
<li *ngFor="let t of lowerPrioItems$ | async">
    {{t.id}}: {{t.name}}
    <span [ngStyle]="{'color': t.isSync ? 'green' : 'red', 'font-weight': 'bold'}">
        {{ t.isSync}}
    </span> 

</li>
